.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.clear-float:before,
.clear-float:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clear-float:after {
  clear: both;
}
.brand-font {
  font-family: "europa", sans-serif;
  font-style: normal;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
